//
//
// Copyright © 2022 THALES. All rights reserved.
//
    

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../../Pods/Target Support Files/Pods-IdCloudAccessSample/Pods-IdCloudAccessSample.debug.xcconfig"
#include "../../dependency/idcloud-risk/D1/Target Support Files/D1.debug.xcconfig"
